<li [ngClass]="{'list-group-item':true,
 'list-group-item-success': love > 0,
 'list-group-item-danger': love < 0
  }" style="margin-bottom:15px;">

  <h2 class="font-weight-bold col-xs-6" >{{ postTitle }}</h2>
  <h4 class="col-xs-6" style="color: grey;font-style: italic;text-align: right;" >{{ postCreatedAt | date:'dd/MM/yyyy HH:mm' | uppercase }}</h4>

  <p class="col-xs-12" style="margin-bottom:20px;">{{ postContent }}</p>

  <button class="btn btn-success" value="4" style="margin-right:15px;" (click)="onLoveIt()">Love it !</button>
  <button class="btn btn-danger" (click)="onDontLoveIt()">Don't love it !</button>

</li>