  <ul class="list-group">
  <app-post-list-item-component *ngFor="let element of tabPosts"
                                  [postTitle]="element.title"
                                  [postContent]="element.content"
                                  [postLoveIts]="element.loveIts"
                                  [postCreatedAt]="element.created_at" ></app-post-list-item-component>
  </ul>

